<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    (click)="goToUsers()"
    mat-icon-button
    aria-label="Icon-button with group icon"
  >
    <mat-icon>group</mat-icon>
  </button>
  <button
    mat-icon-button
    aria-label="Icon-button with ticket icon"
    (click)="goToTickets()"
  >
    <mat-icon>receipt-long</mat-icon>
  </button>
</mat-toolbar>

<main></main>
<router-outlet></router-outlet>
