@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: blueviolet;
}

h3 {
  color: rgb(39, 48, 48);
}

.flex-spacer {
  flex: 1 1 auto;
}
